   
    .cards{
      margin: 50px 5px 0 -120px;
      z-index: 90;
      background: rgb(243, 234, 218);
      width: 150px;
      height: 225px;
      border-radius: 5px;
    }
  
    .inner-border {
      box-shadow: inset 0px 0px 0px 1px black;
      border: 5px solid rgb(240, 240, 240);
    }
  
    .top-left{
      position: relative;
      font-family: serif;
      left: 6px;
      top: -20px;
      font-size: 15px;
    }
  
    .card-value{
      margin-bottom: 0px;
      font-size: 30px;
    }
  
    .center-suit {
      position: relative;
      font-size: 50px;
      top: 18px;
      left: 48px;
    }
  
    .bottom-right{
      position: relative;
      right: 6px;
      top: 28px;
      font-family: serif;
      font-size: 15px;
      transform: rotate(180deg);
    }
