.blank-card {
    position: absolute;
    color: #0c2c3b;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    left: 130px;
    top: 30px;
    z-index: 91;
}

.blank-title{
    position: relative;
    top: 75px;
}