@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.App {
  text-align: center;
}

.game-title {
  font-family: 'Nabla', cursive;
}

@media screen and (max-width: 500px) {
  .game-title {
    font-size: 10vw;
  }
}