@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.game-title {
  font-family: 'Nabla', cursive;
}


@media screen and (max-width: 500px) {
  .game-title {
    font-size: 10vw;
  }

  .play-button{
    font-size: 5vw;
    text-align: center;
    margin: auto;
  }

  .cards-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .cards{
    margin: 50px 5px 0 5px;
    background: rgb(243, 234, 218);
    width: 150px;
    height: 225px;
    border-radius: 5px;
  }

  .card-one {
    transform: rotate(-25deg);
    position: absolute;
    right: 150px;
  }

  .card-two {
    transform: rotate(25deg);
    position: absolute;
    left: 150px;
  }

  .inner-border {
    box-shadow: inset 0px 0px 0px 1px black;
    border: 5px solid rgb(240, 240, 240);
  }

  .top-left{
    position: relative;
    left: 5px;
    top: -20px;
    font-size: 15px;
  }

  .card-value{
    margin-bottom: 0px;
    font-size: 30px;
}

  .center-suit {
    position: relative;
    font-size: 50px;
    top: 15px;
    left: 48px;
  }

  .bottom-right{
    position: absolute;
    text-align: center;
    left: 125px;
    top: 170px;
    font-family: serif;
    font-size: 15px;
    transform: rotate(180deg);
  }
}