.game-page-container {
    width: 100vw;
    height: 100vh;
    /* background-image: url('/public/images/tabletest.jpeg'); */
    background-color: rgb(6, 100, 11);
    background-size: cover;
}

.cash {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-size: 30px;
}

.bet {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 100px;
    font-size: 50px;
}

.bet-form {
    width: 70px;
    font-size: 15px;
    margin-bottom: 10px;
}

.bet-button {
    position: absolute; 
    right: 20px;
    top: 77px;
}

.place-bet {
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 40px;
}

.win-loose-message {
    position: absolute;
    z-index: 10;
    top: 310px;
    left: 10px;
    font-size: 17px;
}

.dealerCardsContainer {
    display: flex;
    position: absolute;
    top: 30px;
    left: 130px;
}

.playerCardsContainer {
    display: flex;
    position: absolute;
    top: 325px;
    left: 130px;
}

.dealer-total {
    position: absolute;
    top: 300px;
    left: 5px;
}

.player-total {
    position: absolute;
    top: 600px;
    left: 5px;
}

.player-buttons {
    position: absolute;
    top: 622px;
    left: 180px;
}

.hit-stand {
    margin: 0 20px;
}