.game-title {
    font-family: nabla, Arial, Helvetica, sans-serif;
    color: goldenrod;
  }

  @media screen and (max-width: 800px) {
    .game-title {
      font-size: 8vw;
      margin-bottom: 20px;
    }
  
    .play-button{
      font-size: 5vw;
      text-align: center;
      margin: auto;
    }
  
    .cards-container{
      display: flex;
      flex-direction: row;
      margin-top: 50px;
    }

    .title-one {
      position: absolute;
      transform: rotate(-30deg);
      left: 60px;
    }

    .title-two {
      position: absolute;
      transform: rotate(30deg);
      right: 60px;
    }
  }