.game-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4vw;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0 3px 18px rgb(255, 255, 255);
  color: #1d4d62;
}

.cards-container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.title-cards{
  z-index: 90;
  background: rgb(243, 234, 218);
  width: 150px;
  height: 225px;
  border-radius: 5px;
}
  .title-one {
    position: relative;
    transform: rotate(-30deg);
    left: 30px;
  }

  .title-two {
    position: relative;
    transform: rotate(30deg);
    right: 30px;
  }
  @media screen and (max-width: 800px) {
    .game-title {
      font-size: 11vw;
      margin-bottom: 20px;
    }
  
    .play-button{
      font-size: 5vw;
      text-align: center;
      margin: auto;
    }
  
  }